<nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
<nz-divider></nz-divider>

<h3>Hello World</h3>
<div class="content">
  <span>{{ title }} app is running!</span>
</div>
<nz-divider></nz-divider>

<div>
  See the first: <a [routerLink]="'apple'">Apple</a><br>
  See the second: <a [routerLink]="'apple/steve'">Steve</a><br>
  See the third: <a [routerLink]="'apple/steve/jobs'">Jobs</a><br>
</div>

<router-outlet></router-outlet>
